.header {
	width: 100%;
}

.header__container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 82px;
	position: relative;
}

.header__logo {
	width: 180px;
	z-index: 11;
	img {
		max-width: 180px;
		height: 27px;
	}
}

.header__logo-image {
}
.header__logo-image_mobile {
	display: none;
}

.header__search {
	position: absolute;
	right: 2.75rem;
	cursor: pointer;
	img {
		width: 16px;
		height: 16px;
	}
}
.header__search-input {
	position: absolute;
	right: 4.4rem;
}

input {
	box-shadow: inset 1.5px 1.5px 3px -1px rgba(0, 0, 0, 0.6);
	height: 20px;
	background-color: #e9e9e9;
	border-radius: 4px;
	padding: 0.1875rem;
	color: black;
	border: 1px solid black;
	outline: none;
	font-weight: 700;
	letter-spacing: 1px;
}

.header__open-menu {
	display: none;
}

@media (max-width: 991.98px) {
	.header__container {
		min-height: 1.75rem;
		position: relative;
		padding: 2rem 0 2.375rem 0;
	}
	.header__open-menu {
		display: block;
		position: absolute;
		left: 0;
		cursor: pointer;
		z-index: 10;
	}

	.active {
		position: relative;
		&::after {
			content: "";
			width: 100%;
			height: 1px;
			background-color: #e9e9e9;
			position: absolute;
			bottom: 0;
			z-index: 11;
			margin-left: -26.5%;
		}
	}
	.header__search {
		position: absolute;
		right: 0;
	}
	.header__search-input {
		position: absolute;
		right: 0;
		bottom: 10%;
	}
	input {
		height: 16px;
		max-width: 110px;
		font-size: 0.75rem;
	}
}

@media (max-width: 426px) {
	.active {
		position: relative;
		&::after {
			content: "";
			width: 100%;
			height: 1;
			background-color: #e9e9e9;
			position: absolute;
			bottom: 0;
			z-index: 11;
			margin-left: -24%;
		}
	}
}
